version: "3.9"

services:
  server:
    build: .
    container_name: chat-app
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: chat-redis
    ports:
      - "6379:6379"
